.App {
  text-align: center;
  height: 100%;
}
.inputBox{
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* height: 400px;
  width:40px; */
  color: #0000FF;
  margin-top: 10px;
  max-width: 100%;
}
.input{
  height: 40px;
  width:100%;
  flex: 0.8;
  color: white;
  background-color: blue;
  border-color: white;
  border-right-color: #5F47C9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.button{
color: white;
background-color: blue;
border-color: white;
border-left-color: darkblue;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 5%;
}
.apiname{
  color:white
}
@media (max-width: 768px){
  .list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 5%;
  }
}

@media (max-width: 480px){
  .list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 5%;
  }
}

